hpack==4.1.0
PyYAML==6.0.2
parso==0.8.4
scikit-learn==1.6.1
faiss==1.9.0
terminado==0.18.1
notebook==7.4.3
Send2Trash==1.8.3
typing-inspection==0.4.1
hyperframe==6.1.0
widgetsnbextension==4.0.14
joblib==1.5.1
jupyterlab==4.4.3
prometheus_client==0.22.0
sniffio==1.3.1
alembic==1.16.1
argon2-cffi-bindings==21.2.0
httpcore==1.0.9
typing_utils==0.1.0
catboost==1.2.8
tornado==6.5.1
appdirs==1.4.4
cached-property==1.5.2
optuna==4.3.0
asttokens==3.0.0
python-json-logger==2.0.7
graphviz==0.20.3
psutil==7.0.0
argon2-cffi==23.1.0
jsonschema-specifications==2025.4.1
pkgutil_resolve_name==1.3.10
jupyter_server==2.16.0
charset-normalizer==3.4.2
gmpy2==2.2.1
PySocks==1.7.1
rtdl_num_embeddings==0.0.12
tzdata==2025.2
wandb==0.19.11
Mako==1.3.10
jupyterlab_widgets==3.0.15
typing_extensions==4.13.2
zipp==3.22.0
defusedxml==0.7.1
gitdb==4.0.12
arrow==1.3.0
threadpoolctl==3.6.0
pandocfilters==1.5.0
requests==2.32.4
types-python-dateutil==2.9.0.20250516
jupyter-lsp==2.2.5
stack_data==0.6.3
polars==1.30.0
pyzmq==26.4.0
mistune==3.1.3
certifi==2025.7.9
fastjsonschema==2.21.1
gdown==5.2.0
nest_asyncio==1.6.0
mpmath==1.3.0
Jinja2==3.1.6
soupsieve==2.7
setproctitle==1.3.6
bleach==6.2.0
json5==0.12.0
pydantic_core==2.33.2
greenlet==3.2.2
ipython==9.2.0
notebook_shim==0.2.4
networkx==3.4.2
wheel==0.45.1
protobuf==5.29.3
kaggle==1.6.17
statsmodels==0.14.4
tinycss2==1.4.0
tqdm==4.67.1
pure_eval==0.2.3
webcolors==24.11.1
eval_type_backport==0.2.2
executing==2.2.0
urllib3==2.4.0
ipywidgets==8.1.7
SQLAlchemy==2.0.41
matplotlib-inline==0.1.7
pandas==2.2.3
platformdirs==4.3.8
category_encoders==2.8.1
jsonschema==4.24.0
h11==0.16.0
nbformat==5.10.4
filelock==3.18.0
overrides==7.7.0
numpy==1.26.4
jupyter-console==6.6.3
Brotli==1.1.0
python-slugify==8.0.4
anyio==4.9.0
rpds-py==0.25.1
cffi==1.17.1
jupyter_client==8.6.3
referencing==0.36.2
wcwidth==0.2.13
docker-pycreds==0.4.0
traitlets==5.14.3
importlib_resources==6.5.2
isoduration==20.11.0
async-lru==2.0.5
jedi==0.19.2
pyarrow==20.0.0
munkres==1.1.4
pytz==2025.2
scipy==1.15.2
colorama==0.4.6
ipython_pygments_lexers==1.1.1
narwhals==1.41.0
rtdl_revisiting_models==0.0.2
pydantic==2.11.4
attrs==25.3.0
ptyprocess==0.7.0
prompt_toolkit==3.0.51
idna==3.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
pyparsing==3.2.3
GitPython==3.1.44
tomli==2.2.1
plotly==6.1.1
comm==0.2.2
packaging==25.0
patsy==1.0.1
annotated-types==0.7.0
zstandard==0.23.0
uri-template==1.3.0
six==1.17.0
webencodings==0.5.1
jupyter_core==5.8.0
Pygments==2.19.1
sentry-sdk==2.29.1
lightgbm==4.6.0
beautifulsoup4==4.13.4
click==8.2.1
httpx==0.28.1
delu==0.0.23
rfc3986-validator==0.1.1
exceptiongroup==1.3.0
sympy==1.13.1
torch==2.5.1
unicodedata2==16.0.0
nbconvert==7.16.6
debugpy==1.8.14
ipykernel==6.29.5
colorlog==6.9.0
babel==2.17.0
fonttools==4.58.0
rfc3339_validator==0.1.4
MarkupSafe==3.0.2
pycparser==2.22
matplotlib==3.10.3
text-unidecode==1.3
fqdn==1.5.1
pickleshare==0.7.5
contourpy==1.3.2
kiwisolver==1.4.7
websocket-client==1.8.0
cycler==0.12.1
jupyter_server_terminals==0.5.3
triton==3.1.0
jupyter==1.1.1
jupyter-events==0.12.0
pexpect==4.9.0
nbclient==0.10.2
pip==25.1.1
jsonpointer==3.0.0
smmap==5.0.2
importlib_metadata==8.7.0
xgboost==3.0.2
decorator==5.2.1
fsspec==2025.3.2
python-dateutil==2.9.0.post0
pillow==11.2.1
h2==4.2.0
setuptools==80.8.0
