# 1. Результаты и данные, специфичные для вашего проекта
# =======================================================
# Игнорируем папки с данными и результатами
/data/
/results/

# 2. Системные файлы операционных систем
# ======================================
.DS_Store
Thumbs.db

# 3. Файлы IDE и редакторов кода
# ===================================
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 4. Файлы и папки Python
# =========================
# Папки с кэшем
__pycache__/
*.pyc
*.pyo
*.pyd

# Папки виртуальных окружений
.env
.venv
env/
venv/

# 5. Логи и временные файлы
# ========================
*.log
*.tmp

# 6. Приватная информация
# =========================
secrets.yaml
