# 1. 
# =======================================================
# ignore data and results
/data/
/results/

# 2. System files
# ======================================
.DS_Store
Thumbs.db

# 3. IDE files
# ===================================
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 4. Python files
# =========================
# Cache folders
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments folders
.env
.venv
env/
venv/

# 5. Логи и временные файлы
# ========================
*.log
*.tmp

# 6. Приватная информация
# =========================
secrets.yaml
